{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(class="form-control", size=32) }}
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control", size=32) }}
        </div>
        <div class="form-group">
            <label for="birthdate">{{ form.birthdate.label }}</label>
            {{ form.birthdate(class="form-control", size=32) }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
